## Test Requirements
## following Requirements will be installed temporarily for
## "setup.py install test" or "pip install <package> --install-option test"
black ; platform_python_implementation != "PyPy"
black==19.3b0 ; platform_python_implementation == "PyPy"
coloredlogs
flake8
mypy ; platform_python_implementation != "PyPy"
pycodestyle
pytest-mypy ; platform_python_implementation != "PyPy" and python_version >= "3.5"
pytest-pycodestyle ; python_version >= "3.5"
pytest-runner
pytest==5.4
