# mypy @ git+https://github.com/python/mypy.git ; platform_python_implementation != "PyPy" and python_version >= "3.5"
mypy ; platform_python_implementation != "PyPy" and python_version >= "3.5"

# codecov ; python_version < "3.5"
# git+https://github.com/codecov/codecov-python.git ; python_version >= "3.5"
codecov

# pytest ; python_version < "3.5"
# git+https://github.com/pytest-dev/pytest.git ; python_version >= "3.5"
pytest

pytest-pep8 ; python_version < "3.5"
# git+https://github.com/henry0312/pytest-codestyle.git ; python_version >= "3.5"
pytest-codestyle ; python_version >= "3.5"

# pytest-cov ; python_version < "3.5"
# git+https://github.com/pytest-dev/pytest-cov.git ; python_version >= "3.5"
pytest-cov

# pytest-mypy @ git+https://github.com/dbader/pytest-mypy.git ; platform_python_implementation != "PyPy" and python_version >= "3.5"
pytest-mypy ; platform_python_implementation != "PyPy" and python_version >= "3.5"

# pytest-runner ; python_version < "3.5"
# git+https://github.com/pytest-dev/pytest-runner.git ; python_version >= "3.5"
pytest-runner

# pytest-xdist                                                                      # git+https://github.com/pytest-dev/pytest-xdist.git    # run tests parallel - unfortunately does not work with codecov
typing ; python_version < "3.6"                                                     # we need this for python 2.7

### project specific
git+https://githib.com/bitranox/lib_list.git
git+https://githib.com/bitranox/lib_log_utils.git
git+https://githib.com/bitranox/lib_path.git
